@use 'sass:list';

@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

$bgcolors: #fff08f, #83cd9d, #86ded6, rgb(255 123 123), #fff, #fff, #5a65e6;

// $bgcolors: #e30512, #1d3fbb, #ffbe00, #ff651a, #00c1b5, #fff, #fd5f8d;

:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
  --logo-h: 1.875rem;
  --logo-h-md: 1rem;
}

$bp-lg: 62.5rem;
$bp-md: 47.5rem;
$bp-sm: 35rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // 스크롤이 부드럽게 넘어감
  // body에 넣으면 적용 안되고 html에 넣어야됨
  scroll-behavior: smooth;

  // 실제로 스냅이 발생하는 곳에도 scroll-snap-align 줘야됨 두 개 다 줘야됨
  scroll-snap-type: y mandatory;
  @media (width < $bp-lg) {
    scroll-snap-type: none;
  }
}

body {
  // color: #10284b;
  margin: 0;

  // font-family: 'Radio Canada Big', sans-serif;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  background-color: list.nth($bgcolors, 7);
  animation-name: bg-change;

  // 스크롤하는거에 따라서 색이 바뀜
  animation-timeline: scroll();
  @media (width < $bp-lg) {
    animation-name: bg-change-margin;
  }
}

@keyframes bg-change {
  @for $i from 0 through 5 {
    #{100 / 6 * $i}#{'%'},
    #{100 / 6 * $i + 100 / 12}#{'%'} {
      background-color: list.nth($bgcolors, 7 - $i);
    }
  }

  100% {
    background-color: list.nth($bgcolors, 1);
  }
}

@keyframes bg-change-margin {
  @for $i from 0 through 5 {
    #{100 / 6 * $i}#{'%'},
    #{100 / 6 * $i + 100 / 12}#{'%'} {
      background-color: list.nth($bgcolors, 7 - $i);
    }
  }

  100% {
    background-color: list.nth($bgcolors, 1);
  }
}

//   0%,
//   #{calc(100 / 6 * 0.5)}#{'%'} {
//     background-color: list.nth($bgcolors, 7);
//   }
//   #{calc(100 / 6)}#{'%'} {
//     background-color: list.nth($bgcolors, 6);
//   }
//   #{calc(100 / 6 * 2)}#{'%'} {
//     background-color: list.nth($bgcolors, 5);
//   }
//   #{calc(100 / 6 * 3)}#{'%'} {
//     background-color: list.nth($bgcolors, 4);
//   }
//   #{calc(100 / 6 * 4)}#{'%'} {
//     background-color: list.nth($bgcolors, 3);
//   }
//   #{calc(100 / 6 * 5)}#{'%'} {
//     background-color: list.nth($bgcolors, 2);
//   }
//   100% {
//     background-color: list.nth($bgcolors, 1);
//   }
// }
img {
  display: block;
}

.fixed {
  // 스타일을 넣어주어도 그자리에 계속 있음
  position: fixed;

  //앞으로 꺼내줌
  z-index: 2;

  // 화면에서 사라짐
  // display: none;
  @at-root a#{&},
    & a {
    // currentcolor: 현재 글자색
    color: currentcolor;
  }

  p {
    margin-block: 0;
  }

  &--pos {
    &-tl {
      top: var(--fixed-m-y);
      left: var(--fixed-m-x);
      font-size: 2.1875rem;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      cursor: pointer;

      // &:hover {

      // }

      // 화면에 생김
      // display: block;
    }

    &-tr {
      top: var(--fixed-m-y);
      right: var(--fixed-m-x);
    }

    &-br {
      right: var(--fixed-m-x);
      bottom: var(--fixed-m-y);
    }

    &-bl {
      // 아무리 좁아져도 이 정도의 갭은 유지해줌
      right: calc(var(--fixed-m-x) + 4rem + 6.25rem);
      bottom: var(--fixed-m-y);
      left: var(--fixed-m-x);
    }
  }

  &--role {
    &-logo {
      // 사이즈가 비례에 맞게 줄어듦
      // width주고 height를 주면 글자가 깨짐
      height: var(--logo-h);
      aspect-ratio: 519 / 58;
      @media (width < $bp-md) {
        height: var(--logo-h-md);
      }
    }

    &-contact {
      font-weight: 700;

      // 밑줄이 사라짐
      text-decoration: none;
      @media (width < $bp-lg) {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &-list {
      // display: flex;
      // 세로로 정렬됨 reverse 넣으면 아래에서부터 위로 정렬됨
      // flex-direction: column-reverse;
      padding-left: 0;
      margin-block: 0;
      line-height: 1.8rem;
      text-align: right;
      text-transform: capitalize;
      list-style: none;
      transform: rotate(180deg);

      // $bp-lg 보다  width가 작으면 화면에서 사라져라
      @media (width < $bp-lg) {
        display: none;
      }

      > li {
        transform: rotate(180deg);

        > a {
          // 밑줄이 사라짐
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-about {
      max-width: 30ch;
      font-weight: 700;

      // 문장 길이를 비슷하게 정리해줌
      text-wrap: balance;

      // $bp-lg 보다  width가 작으면 화면에서 사라져라
      @media (width < $bp-lg) {
        display: none;
      }
    }
  }

  &__copyright {
    font-size: 0.75rem;
    font-weight: 400;

    > a {
      // text-decoration: underline;
      // 마우스를 올렸을 때 밑줄이 사라지게
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__policy {
    // 1lh: enter에 해당하는 값
    // 자기가 썼던 태그가 기본적인 display 설정이 무엇인지 block인지 inline인지 체크해보는 것이 코드가 안먹을 때 확인해보는 좋은 방법임
    display: block;
    margin-top: 1lh;

    // text-decoration: underline;
    // 마우스를 올렸을 때 밑줄이 사라지게
    &:hover {
      text-decoration: none;
    }
  }

  &__desc {
  }

  // &__desc {
  // }
}

// #issue {
//   @for $i from 1 through 7 {
//     &-#{$i} {
//       background-color: list.nth($bgcolors, $i);
//     }
//   }
// }
.wrapper {
  z-index: 1;
  display: flex;

  // 아래에서 위로 올라감
  flex-direction: column-reverse;

  // transform: rotate(180deg);
}

.issue {
  // position: absolute;

  // 스크롤하면 센터를 기준으로 스냅이 들어감

  // 그리드 만들어줌
  display: grid;

  // rows: 세로
  // columns: 가로
  grid-template-rows: minmax(calc(2 * var(--fixed-m-y) + var(--logo-h)), 1fr) auto 5lh minmax(
      calc(2 * var(--fixed-m-y)),
      1fr
    );
  grid-template-columns:
    minmax(var(--fixed-m-x), 1fr) minmax(0, 31.25rem)
    minmax(var(--fixed-m-x), 1fr);

  // min-heigh: 최소 높이
  // vh: 뷰포트의 높이
  // svh: 주소창이 있을 때 잡히는 높이
  min-height: 100svh;

  // 스크롤하면 센터를 기준으로 스냅이 들어감
  scroll-snap-align: center;

  // transform: rotate(180deg);

  // p {
  //   margin-block: 0;
  // }

  &__img {
    // 그리드에서 위치 설정
    grid-row: 2;
    grid-column: 2;

    // 가로에 딱맞게 들어가고 그리드보다 커지지 않음
    justify-self: stretch;

    // width: 18.75rem;

    &-program {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.9fr;

      // padding-top: 2.5rem;
      grid-row: 2 / span 1;
      grid-column: 3;
      gap: 0.625rem;

      // place-items: center;
      width: 18.75rem;

      // padding-left: 4.0625rem;
      transform: translate(35%);

      // top: 50%;
      // left: 50%;
    }
  }

  &__text {
    // 그리드에서 위치 설정
    grid-row: 3;
    grid-column: 2;
    padding-top: 1.25rem;

    // 텍스트 가운데 정렬
    text-align: center;
  }

  &__title {
    margin-block: 0;
    font-weight: 700;
    text-transform: capitalize;

    &-1 {
      font-size: 0.9375rem;
      font-weight: 700;
    }
  }

  &__link {
    margin-block: 1lh 0;
    font-weight: 700;
    text-transform: uppercase;

    // &-img {
    //   display: flex;
    // }
  }

  &__welcome {
    grid-row: 1;
    grid-column: 2;
    padding-block: 5rem;
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  }

  &--no-7 {
    // position: relative;
    .lottie {
      &--song-left {
        grid-row: 2;
        grid-column: 1;

        // width: 21.875rem;
        // height: 21.875rem;
        padding-left: 6.25rem;

        // padding-inline: 5rem;
      }

      &--moon {
        grid-row: 2 / span 1;
        grid-column: 2;

        // width: 37.5rem;
        // height: 37.5rem;
      }

      &--song-right {
        grid-row: 2;
        grid-column: 3;

        // width: 21.875rem;
        // height: 21.875rem;
        padding-right: 6.25rem;
      }
    }
  }
}

.footer {
  display: none;
  @media (width < $bp-lg) {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between;
    padding-inline: var(--fixed-m-x);
    padding-bottom: var(--fixed-m-y);
  }

  @media (width < $bp-sm) {
    flex-direction: column-reverse;
    gap: 1lh;
    align-items: center;
    justify-content: center;
  }

  @at-root a#{&},
    & a {
    // currentcolor: 현재 글자색
    color: currentcolor;
  }

  &__contact {
    right: var(--fixed-m-x);
    bottom: var(--fixed-m-y);
    font-weight: 700;

    // 밑줄이 사라짐
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__about {
    max-width: 30ch;
    font-weight: 700;

    // 문장 길이를 비슷하게 정리해줌
    text-wrap: balance;
    @media (width < $bp-sm) {
      max-width: unset;
      text-align: center;
    }
  }

  &__copyright {
    font-size: 0.75rem;
    font-weight: 400;

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__policy {
    display: block;
    margin-top: 1lh;

    &:hover {
      text-decoration: none;
    }
  }
}

// .nav {
//   position: sticky;
//   top: 0;

//   // z-index: 999; -> 이거는 적용해보고 직접 확인해보기
//   padding: 1rem;
//   color: #381fd1;
//   background-color: #f6f6eb;

//   &__wrapper {
//     display: grid;
//     grid-template-columns: 2rem repeat(4, auto) 1fr repeat(2, auto);
//     gap: 1rem;
//     align-items: center;
//     max-width: 60rem;
//     min-height: 0.3125rem;
//     margin-inline: auto;
//   }
// }

// // .logo {
// //   grid-column: 1;
// // }

// .menu {
//   display: grid;
//   grid-template-columns: subgrid;
//   padding-left: 0;
//   margin-block: 0;
//   list-style: none;

//   &--pos {
//     &-left {
//       grid-column: 2 / span 4;
//     }

//     &-right {
//       grid-column: -3 / -1;
//     }
//   }

//   &__item {
//     display: grid;
//     align-items: center;
//     height: 2rem;
//     padding-inline: 0.5rem;
//     font-size: 0.875rem;
//     font-weight: 900;
//     line-height: 1.25rem;
//     color: inherit;
//     text-decoration: none;
//     text-transform: uppercase;
//     border: 0.125rem solid rgb(56 31 209 / 0%);
//     border-radius: 0.375rem;
//     transition: border 0.3s;

//     // 글자 위에 마우스 올려놨을 때 네모 만들어줌
//     &:hover {
//       border: 0.125rem solid rgb(56 31 209 / 100%);
//     }

//     &--style-filled {
//       color: #f6f6eb;
//       background-color: rgb(56 31 209 / 100%);
//       border: 0.125rem solid rgb(56 31 209 / 100%);
//     }
//   }
// }
